<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="OFF">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="contractLog" fileName="logs/erp-contract-provider.log"
                     filePattern="logs/$${date:yyyy-MM}/erp-contract-provider-%d{yyyy-MM-dd}-%i.log">
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1M"/>
            </Policies>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%p] - %l - %m%n"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="com.bc" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="contractLog"/>
        </logger>
        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="contractLog"/>
        </Root>
    </Loggers>
</Configuration>